<footer class="site-footer">
    <div class="footer-text">
      <p>Copyright ©
        <%= new Date().getFullYear() %> | <strong>Made With Node,Express Ejs and Public Api</strong>  | All Right Reserved</p>
    </div>
  </footer>
  