<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header class="navbar">
        <div>
            <a href="/" class="logo-name">Book Archive</a> 
        </div>
       <div class="nav-buttons">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    
     
    </div>
    
    </header>
    
</body>
</html>