<div class="about-page">
<%- include("partials/header.ejs") %>

<div class="about-me">
    <div class="img-box">
        <img class="profile" src="/images/logo.jpg">
    </div>
  
    <div class="box">
        
    </div>

    <div class="about-text-div">
        <h1 class="name">My name is Ali Akbar</h1>
        <p class="about-para">I am a passionate frontend Web developer with aptitude for 
            crafting immersive digital experiences. With a strong grip on Html, Css JavaScript 
            I can make websites to life with beautiful animations using Gsap and Scroll trigger.
            I have also learned frameworks like Bootstrap, Tailwind Css, React Js.
             Beyond Frontend development I have also have knowledge of
             C++, Python and currently working on Backend.
             I continuously seek opportunities to broaden my knowledge and expertise.
             I'm always eager to tackle new challenges
              and push the boundaries of what's possible in web development.
            If you are looking for an effecient frontend Web developer feel free to contact me.</p>
    </div>
</div>




<%- include("partials/footer.ejs") %>

</div>