<div class="contacts-page">
<%- include("partials/header.ejs") %>

<p class="contacts-para">"Have a project in mind? Let's make it happen!
    Reach out to me through any of the social media below.
   I am looking forward to collaborating and bringing your ideas to life!"</p>
<div class="footer">
  <a href="https://github.com/aliakber841"><img class="" src="/images/Github.jpg" alt=""></a> 
  <a href="https://www.linkedin.com/in/ali-akbar-5b9522292?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="" src="/images/Linkedin.png" alt=""></a> 
 <a href="https://www.instagram.com/aliakber841?igsh=MTE2cGg0Z2M0dXVtMw=="><img class="" src="/images/Instagram.png" alt=""></a>  
 <a href="https://www.facebook.com/people/Ali-Akber/pfbid02eK7cA1Pb2c8sfyhxGWD1jiXwdPKWCXvtNosUdp3bGr5HsEz2KUye7sct1n7wi54Zl/?mibextid=ZbWKwL"><img class="" src="/images/Facebook.png" alt=""></a>  
</div>

</div>

<%- include("partials/footer.ejs") %>

</div>